<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <resultMap id="userMap" type="com.example.demo.entity.User">
        <id property="id" column="id" javaType="java.lang.Integer"/>
        <result property="name" column="name" javaType="java.lang.String"/>
        <result property="sex" column="sex" javaType="com.example.demo.common.SexEnum"/>
        <result property="age" column="age" javaType="java.lang.Integer"/>
    </resultMap>
    <insert id="insertUser">
        insert into t_user (name, sex, age)
        values (#{name}, #{sex}, #{age});
    </insert>

    <select id="selectAllUser" resultMap="userMap">
        select *
        from t_user;
    </select>

    <select id="selectUserById" resultMap="userMap">
        select *
        from t_user
        where id = #{id};
    </select>
</mapper>
